{% extends 'studentportal/base1.html' %}
{% block content %}
{% load userPortal_tags %}
{% include 'usersPortal/messages/messages.html' %}


<div class="container">
    <div class="col-md-8">
        <form id="form_submit" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- List of errors from forms.py -->
            {{ form.non_field_errors }}
        
            <h4> Personal Information </h4>

            <div class="form-outline mb-4">
                <label for="{{ form.oldpassword.id_for_label }}" class="form-label"> {{ form.oldpassword.label }}: </label>
                {{ form.oldpassword|addclass:"form-control"}} <!-- Input Field -->
                {{ form.oldpassword.errors }} <!-- Field errors -->
            </div>

            <div class="form-outline mb-4">
                <label for="{{ form.newpassword.id_for_label }}" class="form-label"> {{ form.newpassword.label }}: </label>
                {{ form.newpassword|addclass:"form-control"}} <!-- Input Field -->
                {{ form.newpassword.errors }} <!-- Field errors -->
                <div id="np"></div>
            </div>

            <div class="form-outline mb-4">
                <label for="{{ form.confirmpassword.id_for_label }}" class="form-label"> {{ form.confirmpassword.label }}: </label>
                {{ form.confirmpassword|addclass:"form-control"}} <!-- Input Field -->
                {{ form.confirmpassword.errors }} <!-- Field errors -->
                <div id="cp"></div>
            </div>

            <input type="submit" value="Change" class="btn btn-primary btn-block mb-4">

        </form>
        {% if user.is_student %} <a href="{% url 'usersPortal:account_profile' %}" class="btn btn-primary"> Back </a> {% endif %}
        {% if user.is_superuser %} <a href="{% url 'adminportal:index' %}" class="btn btn-primary"> Back </a> {% endif %}
        {% if user.is_registrar %} <a href="{% url 'registrarportal:dashboard' %}" class="btn btn-primary"> Back </a> {% endif %}
    </div>
</div>

<script>
    $('#form_submit').one('submit', function() {
        $(this).find('input[type="submit"]').attr('disabled','disabled');
    });

    function np(val){
    }

    function cp(val){
    }

</script>

{% endblock content %}