{% extends 'adminportal/AdmissionAndEnrollment/base1.html' %}
{% block content %}
{% include 'adminportal/AdmissionAndEnrollment/enrollment_HTMLs/enrollment_menus.html' %}

<!-- Message from messages framework / views.py -->
{% if messages %}
<div class="container col-md-3">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<br>
<div class="container col-md-12">

    {% if stud_enrollment_details %}
        
        <form id="change_status" method="post">
            {% csrf_token %}
            <div class="row">
                <p> {{enrollment_status}} </p>
            </div>

            <!-- If enrollment status = for revision -->
            {% if enrollment_comments %} Comments: {% endif %}
            {% for comment in enrollment_comments %}
                <p> {{comment}} </p>
            {% endfor %}

            <p> Full name: {{stud_enrollment_details.full_name}} </p>
            <p> Home address: {{stud_enrollment_details.home_address}} </p>
            <p> Age: {{stud_enrollment_details.age}} </p>
            <p> Contact number: {{stud_enrollment_details.contact_number}} </p>
            <p> Report card: <img src="{{stud_enrollment_details.card}}" alt=""> </p>
            <p> Late enrolled? {{stud_enrollment_details.is_late|yesno:"Yes,No"}} </p>
            <p> Repeater? {{stud_enrollment_details.is_repeater|yesno:"Yes,No"}} </p>
            <p> Student image: <img src="{{stud_enrollment_details.profile_image.user_image.url}}" alt=""> </p>
            <p> Enrolled school year: {{stud_enrollment_details.enrolled_schoolyear}} </p>
            
            <!-- Change href to input type submit and button type submit -->
            {% if valid_to_edit %}
                {% if enrollment_status == "Pending" %}
                    <button type="submit" name="accept_pending" class="btn btn-primary btn-block mb-4"> Accept </button>
                    <button type="submit" name="accept_pending_next" class="btn btn-primary btn-block mb-4"> Accept and Next </button>
                    <button type="submit" name="next_pending" class="btn btn-primary btn-block mb-4"> Next </button>
                    <button type="button" class="btn btn-primary btn-block mb-4"> Denied </button> <!-- if clicked, Open pending_prompt -->

                    <div id="pending_prompt">
                        <!-- For pending -->
                        <!-- Display after clicking the Denied button -->
                        <p> Do you want to add comments? </p>
                        <button type="button" class="btn btn-primary btn-block mb-4"> Yes </button> <!-- If clicked, open the review area1 and hide this prompt -->
                        <button type="submit" name="denied_pending" class="btn btn-primary btn-block mb-4"> No </button> <!-- If clicked, hide this prompt -->
                    </div>
                    <div id="review_area">
                        <!-- For pending -->
                        <!-- Review area 1 -->
                        <textarea name="review" id="review" cols="30" rows="10"></textarea>
                        <button type="submit" name="denied_pending_withreview" class="btn btn-primary btn-block mb-4"> Submit </button>
                        <button type="submit" name="denied_pending_withreview_next" class="btn btn-primary btn-block mb-4"> Submit and Next </button>
                    </div>

                {% elif enrollment_status == "Validated" %}
                    {% if hold_enrollment %}
                        <button type="submit" name="hold" class="btn btn-primary btn-block mb-4"> Hold </button>
                    {% endif %}
                    
                    <button type="submit" name="next_valid_enrollment" class="btn btn-primary btn-block mb-4"> Next </button>

                {% elif enrollment_status == "For revision" %}
                    <button type="submit" name="accept_revision" class="btn btn-primary btn-block mb-4"> Accept </button>
                    <button type="submit" name="accept_revision_next" class="btn btn-primary btn-block mb-4"> Accept and Next </button>
                    <button type="submit" name="next_revision" class="btn btn-primary btn-block mb-4"> Next </button>

                {% elif enrollment_status == "Denied" %}
                    <button type="submit" name="accept_denied" class="btn btn-primary btn-block mb-4"> Accept </button>
                    <button type="button" class="btn btn-primary btn-block mb-4"> Add Review </button> <!-- Open rev2 -->
                    <button type="submit" name="next_denied" class="btn btn-primary btn-block mb-4"> Next </button>

                    <div id="rev2">
                        <!-- To add comments on a full denied enrollment -->
                        <textarea name="review" id="review" cols="30" rows="10"></textarea>
                        <button type="submit" name="denied_withrevision_submit" class="btn btn-primary btn-block mb-4"> Submit </button>
                        <button type="submit" name="denied_withrevision_submit_next" class="btn btn-primary btn-block mb-4"> Submit and Next </button>
                    </div>

                {% elif enrollment_status == "Hold" %}
                    <button type="submit" name="re_validate" class="btn btn-primary btn-block mb-4"> Accept </button>
                    <button type="submit" name="next_hold" class="btn btn-primary btn-block mb-4"> Next </button>
                    <button type="button" class="btn btn-primary btn-block mb-4"> Denied </button> <!-- If clicked, open rev3 -->

                    <div id="rev3">
                        <!-- For is_hold -->
                        <!-- Display after clicking the Denied button -->
                        <p> Do you want to add review? </p>
                        <button type="button" class="btn btn-primary btn-block mb-4"> Yes </button> <!-- If clicked, open the review area2 and hide this prompt -->
                        <button type="submit" name="denied_hold" class="btn btn-primary btn-block mb-4"> No </button> <!-- If clicked, hide this prompt -->
                    </div>
                    <div id="review_area2">
                        <!-- For is_hold -->
                        <!-- Review area 2 -->
                        <textarea name="review" id="review" cols="30" rows="10"></textarea>
                        <button type="submit" name="hold_withrevision_submit" class="btn btn-primary btn-block mb-4"> Submit </button>
                        <button type="submit" name="hold_withrevision_submit_next" class="btn btn-primary btn-block mb-4"> Submit and Next </button>
                    </div>
                {% endif %}
            {% endif %}


        </form>
        <a href="{{ back_btn }}" class="btn btn-primary"> Back </a>
    {% else %}
        <p> No data found. </p>
        <br>
        <a href="{% url 'adminportal:pending_enrollment' %}" class="btn btn-primary"> Back </a>
    {% endif %}
    <br>
</div>

<br>

{% endblock content %}