{% extends 'teachersportal/base1.html' %}
{% block content %}

<!-- Message from messages framework / views.py -->
{% if messages %}
<div class="container col-md-3">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="container col-md-8 p-5">
    <p> Class List </p>
    <a href="{% url 'teachersportal:classassessments' %}" class="btn btn-primary"> ICT - A </a>
    <a href="{% url 'teachersportal:classassessments' %}" class="btn btn-primary"> ICT - B </a>
    <a href="{% url 'teachersportal:classassessments' %}" class="btn btn-primary"> ICT - C </a>
</div>


{% endblock content %}