{% extends 'teachersportal/base1.html' %}
{% block content %}

<!-- Message from messages framework / views.py -->
{% if messages %}
<div class="container col-md-3">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="container col-md-8 p-5">
    <p> Teacher Dashboard </p>
    
    <a href="{% url 'teachersportal:classlist' %}" class="btn btn-primary"> Class List </a>
    <a href="#" class="btn btn-primary"> Grade </a>
</div>

{% endblock content %}