{% extends 'studentportal/base1.html' %}
{% block content %}
{% include 'studentportal/application_HTMLs/adm_enr_menu.html' %}
{% load std_portal %}


<!-- Message from messages framework / views.py -->
{% if messages %}
<div class="container col-md-3">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </li>
        {% endfor %}
    </ul>
</div>
{% endif %}


{% if enrolled_sy %}
    <div class="container col-md-8">
        {% include 'studentportal/application_HTMLs/enrollment_sy_menus.html' %}
        <h4> Enrollment Details </h4>
        <p> Status: {{enrollment_status}} </p>

        {% if enrollment_reviews %} <p> Comment(s) from the validators: </p> {% endif %}
        {% for comment in enrollment_reviews %}
            <p> {{comment}} </p>
        {% endfor %}

        <form id="enrollment_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- List of errors from forms.py -->
            {{ form.non_field_errors }}

            <div class="form-outline mb-4">
                {{ form.full_name.errors }} <!-- Field errors -->
                <label for="{{ form.full_name.id_for_label }}" class="form-label"> {{ form.full_name.label }}: </label>
                {{ form.full_name|addclass:"form-control"}} <!-- Input Field -->
            </div>
    
            <div class="form-outline mb-4">
                {{ form.selected_strand.errors }} <!-- Field errors -->
                <label for="{{ form.selected_strand.id_for_label }}" class="form-label"> {{ form.selected_strand.label }}: </label>
                {{ form.selected_strand|addclass:"form-control"}} <!-- Input Field -->
            </div>
    
            <div class="form-outline mb-4">
                {{ form.home_address.errors }} <!-- Field errors -->
                <label for="{{ form.home_address.id_for_label }}" class="form-label"> {{ form.home_address.label }}: </label>
                {{ form.home_address|addclass:"form-control"}} <!-- Auto fill address -->
            </div>
    
            <div class="form-outline mb-4">
                {{ form.age.errors }} <!-- Field errors -->
                <label for="{{ form.age.id_for_label }}" class="form-label"> {{ form.age.label }}: </label>
                {{ form.age|addclass:"form-control"}} <!-- Input Field -->
            </div>
    
            <div class="form-outline mb-4">
                {{ form.contact_number.errors }} <!-- Field errors -->
                <label for="{{ form.contact_number.id_for_label }}" class="form-label"> {{ form.contact_number.label }}: </label>
                {{ form.contact_number|addclass:"form-control"}} <!-- Input Field -->
            </div>
    
            <div class="form-outline mb-4">
                {{ form.card.errors }} <!-- Field errors -->
                <label for="{{ form.card.id_for_label }}" class="form-label"> {{ form.card.label }}: </label>
                {{ form.card|addclass:"form-control"}} <!-- Input Field -->
                {{ form.card.help_text }}
            </div>
    
            <div class="form-outline mb-4">
                {{ form.profile_image.errors }} <!-- Field errors -->
                <label for="{{ form.profile_image.id_for_label }}" class="form-label"> {{ form.profile_image.label }}: </label>
                {{ form.profile_image|addclass:"form-control"}} <!-- Input Field -->
                {{ form.profile_image.help_text }}
            </div>

            <img src="{{card_url.report_card.url}}" alt=""> <!-- Report card -->
            <img src="{{photo_url.user_image.url}}" alt=""> <!-- User 2x2 -->

            {% if is_denied %}
                <a href="#" class="btn btn-primary btn-sm"> Follow-up </a>
            {% endif %}
            {% if enrollment_reviews %}
                <input type="submit" value="Submit" class="btn btn-primary btn-sm">
            {% endif %}
        </form>
    </div>
{% endif %}

{% if no_enrollment %}
    <p> You have no enrollment. </p>
{% endif %}

<script>
    $('#enrollment_form').one('submit', function() {
        $(this).find('input[type="submit"]').attr('disabled','disabled');
    });
</script>


{% endblock content %}