{% extends 'studentportal/base1.html' %} 
{% block content %}

<div class="modal-e">
  <div class="modal_email">
    <div class="img"></div>
    <h3>Email Activation</h3>
    <div class="activation_message">
      <span>
        Hi, {{name}}. We sent the authentication link to {{email}} to activate
        your account.</span
      >
      <a href="https://gmail.com/" class="btnproceed text-primary">
        Go to Gmail
      </a>
    </div>

    <div class="email_btns border-rop w-100 d-flex justify-content-start">
      <a
        href="{% url 'usersPortal:requestAuthentication' %}"
        class="btn btn-success me-3"
      >
        Request new authentication link
      </a>

      <a href="{% url 'usersPortal:login' %}" class="btn btn-primary">
        Return
      </a>
    </div>
  </div>
</div>

{% endblock content %}
