{% extends 'studentportal/base1.html' %}
{% block content %}
{% load std_portal %}
{% include 'usersPortal/messages/messages.html' %}


<div class="main">
    <div class="submain">
        <form id="postForm" method="post">
            {% csrf_token %}
        
            <!-- List of errors from forms.py -->
            {{ form.non_field_errors }}
        
            <div class="card_login">
                <h4> Enter Account details </h4>        
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}" class="form-label"> Email: </label>
                {{ form.email|addclass:"form-control mb-3"}} <!-- Input Field -->
        
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}" class="form-label"> Password: </label>
                {{ form.password|addclass:"form-control mb-1"}} <!-- Input Field -->
        
                <input type="submit" value="Submit" class="btn_login btn-block mb-3">
            </div>
        </form>
    </div>
</div>

<!-- Email: admin@gmail.com Password: admin  -->

{% endblock content %}