    body{
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    html{
        font-family: 'Open Sans', sans-serif;
        scroll-behavior: smooth;
    }
    .navbar{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .navbar .navbar-brand{
        font-style: italic;
        font-size: 30px;
        color: #000;
        transition: 0.5s ease;
    }
    .navbar .navbar-brand:hover{
        color: #800000;
    }
    .nav-link{
        color: rgb(233, 233, 233) !important;
        transition: 0.3s ease;
        font-family: 'Open Sans', sans-serif;
        transition: 0.4s ease-in;
    }

   
    .nav-link:hover{
        color: #fff !important;
    }
    .logo{
        margin-right: 10px;
        height: 50px;
        width: 50px;
        border-radius: 100px;
        background: #800000;
        display: grid;
        place-items: center;
        color: #fff;
    }


    .landing{
        /* min-height: 400px; */
        min-height: 500px;
        height: 100%;

        /* background-image: url('/Media/homepage_img/pexels-johny-rebel-the-explorer-panda-357271 (1).jpg');    */
        background-position: center 20%;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
    }
    .landing .landing_o{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        /* background: rgba(0, 0,0,0.3); */
    }
    .landing .newfangled_title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
    }
    .landing .newfangled_title .logo{
        height: 130px;
        width: 130px;
        border-radius: 100px;
        background: #800000;
        display: grid;
        place-items: center;
        color: #fff;
        border: 2px solid #fff;
    }
    .landing .newfangled_title .landing_title{
        font-size: 40px;
        font-family: 'Domine', serif;
        color: #000;
    }
    .filter{
        height: 100%;
        width: 100%;
        /* background:#ff636394;         */
        display: block;
        position: relative;
        display: flex;
    }
    .img-intro{
        display: block;
        height: 100%;
        width: 100%;
        background-image: url('/Media/homepage_img/pexels-this-is-zun-1164572.jpg');
        background-size: cover;
        background-position: center;
        /* border: 1px solid #800000; */
        border-radius: 8px;
    }

    

    .track_strand h3{
        color: #000;
        font-family: 'Open Sans', sans-serif;
    }
    /* .track_strand .strand_box{
        background: #fff;
        width: 100%;
        max-width: 350px;
        border-radius: 6px;
    } */
    .track_and_strand_wrapper .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: 100%;
        /* background: red; */
    }
    @media screen and (max-width: 768px){
        .track_and_strand_wrapper .grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            width: 100%;
            /* background: red; */
        }   
    }
    .track_strand{
        /* margin-bottom: 20px; */
        background: #fff;
        width: 100%;
        /* max-width: 300px !important; */
        border-radius: 6px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: grid;
        /* grid-template-rows: 50px auto; */
    }
    .track_and_strand_wrapper h3{
        /* background: red; */
        margin: 0;
        padding: 10px 0;
        font-size: 24px;
    }

    .intro-p h4{
        font-weight: 400;
    }
    .intro-p p{
        margin: 0;
        margin-top: 20px;
        line-height: 30px;
        font-size: 18px;
        font-weight: 400;
    }
    .event{

        /* background-image: url('/Media/homepage_img/pexels-johny-rebel-the-explorer-panda-357271 (1).jpg');    */
        background-position: center 20%;
        background-size: cover;
        background-attachment: fixed;
    }
    .event .overfl{
        padding-top: 40px;
    overflow-y: auto;
    /* height: 400px; */
    }
    .track_and_strand_wrapper .wrap{
        /* background: #eef0f1; */
        padding: 10px 0;
        overflow-x: hidden;
        overflow-y: auto;
        /* minheight: 400px; */
    }

    .tracks_strand_date{

        position: absolute;
        top: -73px;
        left:12px;
    }
    .tracks_strand_date {
        border: 1px solid #800000;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 0;
        color: #000;
        padding: 10px;
        background: #fff;
        margin: 0;
    }
    .tracks_strand_date h3{
        color: #000;
        font-family: 'Open Sans', sans-serif;

    }
    /* .strand_box{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    } */
    .strand_box h5 {
        font-family: 'Poppins', sans-serif !important;
    }
    .strand_box .strand p {
        margin: 0;
    }
    .strand_box .strand{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .strand_box .strand i{
        margin-right: 10px;
    }
    .about{
        border-top: 3px solid rgba(10, 25, 56, 0.8);
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    }
    .about h3{
        font-family: 'Poppins', sans-serif !important;
        color: rgba(10, 25, 56, 0.8);
        font-style: italic;
    }
    .about p{
        font-family: 'Poppins', sans-serif !important;
    }



    /* application */
    .div{
        /* height: 100vh; */
    }
    .div .admission{
        text-align: center;        
    }
    .div .admission h3{
        font-size: 40px;
    }
    .div .admission span{
        display: block;
        height: 6px;
        width: 140px;
        background: #173979;
        margin: 0 auto;
    }


    /* student */
    .background{
        background-image: url('/Media/back/tt.jpeg');  
        min-height: 350px;
        /* background: red; */
        width: 100%;
        position: relative;
    }
    .application_about{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: rgba(0, 0,0,0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .application_about h3{
        padding-bottom: 15px;
        color: #fff;
        font-size: 35px;
    }
    .application_about p{
        width: 100%;
        max-width: 850px;
        color: #fff;
        font-weight: 400;
        font-size: 19px;
    }
    .application_about button{
        padding: 15px;
        height: 50px;
        width: 200px;
        color: #fff;
        display: grid;
        place-items: center;
        /* background: #2FB47D; */
        background: #173979;
        /* background: rgb(47, 85, 255) !important; */
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        transition: 0.3s ease;
        text-decoration: none;
        border: none;
    }
    .application_about button:hover{
        background: #1e4388;
    }
    .div .admission .application_parent{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

    }
    .div .admission .application_parent .button{
        padding: 15px;
        height: 50px;
        width: 200px;
        color: #fff;
        display: grid;
        place-items: center;
        /* background: #2FB47D; */
        background: #173979;
        /* background: rgb(47, 85, 255) !important; */
        font-family: 'Open Sans', sans-serif;
        border-radius: 5px;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        transition: 0.3s ease;
        text-decoration: none;
    }
    .div .admission .application_parent .button:hover{
        background: #1e4388;
    }


    /* events */
    .events{
        background-image: url('/studentportal_4ng1/Media/homepage_img/pexels-johny-rebel-the-explorer-panda-357271\ \(1\).jpg');
    }
    .box{
        border-radius: 8px;
        /* overflow: hidden; */
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important; 
    }
    .box .box_title{
    
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background: #800000;
        color: #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        
    }
    .box .string_wrapper{
        position: absolute;
        top: -15px;
        left: 0;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
    }
    .box .string_wrapper .string{
        display: block;
        height: 100%;
        width: 10px;
        /* background: rgb(158, 22, 40); */
        background: #6d6d6d;
        overflow: auto;
        border-radius: 10px;
        border-bottom: 2px solid #ffffff;
    }
    /* global */
    .linee{
        display: block;
        height: 10px;
        width: 100px;
        background: red;
    }
    /* map */
    #map{
        max-width: 600px; 
        width: 100%;
        height: 450px;
    }
    @media screen and (max-width: 1078px){
        .track_and_strand_wrapper{
            max-width: 780px;
            width: 100%;
        }
    }