.main{ 
    height: 100%; 
    min-height: 91.5vh;
    /* background-image: url('/Media/homepage_img/pexels-johny-rebel-the-explorer-panda-357271 (1).jpg');    */
    background-color: #fdfdfd;
    background-position: center 20%;
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative; 
    } 
    .main .submain{ 
        position: absolute; 
        top: 0; 
        left: 0; 
        bottom: 0; 
        right: 0; 
        height: 100%; 
        width: 100%; 
        /* background: rgba(0, 0, 0, 0.5);  */
        
        } 

        #reset_form 
        { 
            margin-top: 50px; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
           
            } 

            .cards_reset{
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                background: #fff;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 390px;
                padding:30px 20px ;
                margin: 0 auto;
                margin-top: 50px;
            }
            .cards_reset h4{
                text-align: center;
                padding-bottom: 20px;
            }
        
            .cards_reset input{
                border-radius: 50px;
            }
            .cards_reset .btnreset{
                background: rgba(10, 25, 56, 0.8);
                border: none;
                outline: none;
                color: #fff;
                padding: 8px;
                transition-duration: 0.4s;
            }
            
            .btnreset:hover {
                background-color: rgba(10, 25, 56, 0.8); /* Green */
                color: white;
            }


            #create_user_form 
            { 
                margin-top: 50px; 
                display: flex; 
                justify-content: center; 
                align-items: center; 
               
                } 
    
                .cards_create{
                    background: #fff;
                    border-radius: 8px;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 450px;
                    padding:30px 20px ;
                    margin: 0 10px;
                }
                .cards_create h4{
                    text-align: center;
                    padding-bottom: 20px;
                }
            
                .cards_create input{
                    border-radius: 50px;
                }
                .cards_create .btn_create{
                    background: rgba(26, 55, 112, 0.8);
                    border: none;
                    outline: none;
                    color: #fff;
                    padding: 8px;
                    transition-duration: 0.4s;
                }
                
                .btn_create:hover {
                    background-color: #4CAF50; /* Green */
                    color: white;
                }
    
    
                #password_reset_form
                { 
                    margin-top: 50px; 
                    display: flex; 
                    justify-content: center; 
                    align-items: center; 
                   
                    } 
        
                    .cards_password_reset_form{
                        background: #fff;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        max-width: 450px;
                        padding:30px 20px ;
                        margin: 0 10px;
                    }
                    .cards_password_reset_form h4{
                        text-align: center;
                        padding-bottom: 20px;
                    }
                
                    .cards_password_reset_form input{
                        border-radius: 50px;
                    }
                    .cards_password_reset_form .btnreset_form{
                        background: rgba(10, 25, 56, 0.8);
                        border: none;
                        outline: none;
                        color: #fff;
                        padding: 8px;
                        transition-duration: 0.4s;
                    }
                    
                    .btnreset_form:hover {
                        background-color: #4CAF50; /* Green */
                        color: white;
                    }
                  

                    #loginform{
                        margin-top: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .card_login{
                        /* border: 1px solid #000; */
                        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                        background: #fff;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        max-width: 390px;
                        padding:30px 20px ;
                        margin: 0 auto;
                        margin-top: 50px;
                    }
                    .card_login h4{
                        text-align: center;
                        padding-bottom: 20px;
                    }
                
                    .card_login .txt_field{
                        position: relative;
                        margin: 30px 0 0 0;
                        border-bottom: 2px solid #adadad;
                        display: flex;
                    }
                    .card_login .txt_field.reset{
                        margin-bottom: 5px;
                    }
                    .card_login .txt_field:nth-child(3){
                        margin-bottom: 50px;
                    }
                    .card_login .txt_field input{
                        width: 100%;
                        padding: 0 5px;
                        height: 40px;
                        font-size: 16px;
                        border: none;
                        background: none !important;
                        outline: none !important;
                        border: none !important;
                        border-radius: 0px;
                    }
                    #eyeicon{
                        cursor: pointer;
                    }
                    #eyeicon2{
                        cursor: pointer;
                    }
                    .card_login .txt_field label{
                        position: absolute;
                        top: -5px !important;
                        left: 5px;
                        color: #adadad; 
                        transform: translateY(-50%);
                        font-size: 16px;
                        pointer-events: none;
                        transition: .5s;
                    }
                    .card_login .txt_field label.active{
                        top: -5px !important;
                    }
                    .card_login .txt_field label.active{
                        top: -5px !important;
                        color:#800000 !important;                        
                    }
                     .txt_field span::before{
                        content: '';
                        position: absolute;
                        top: 40px;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background: #800000;
                        transition: .5s;
                    }
                    input:-webkit-autofill,
                    input:-webkit-autofill:hover, 
                    input:-webkit-autofill:focus, 
                    input:-webkit-autofill:active{
                    -webkit-box-shadow: 0 0 0 30px white inset !important;
                    }
                    .txt_field span.active::before{
                        width: 100%;
                    }
                    .txt_field .email.active ~ label{
                        top: -5px  !important;
                        color:#800000 !important;
                    }
                    /* .txt_field input:focus ~ label.em:valid{
                        top: unset;
                        color:unset;  
                    } */
                        .txt_field input:focus ~ label,
                        .txt_field input:valid ~ label{
                        top: -5px ;
                        color:#800000 !important;
                    }
                    
                    .txt_field input:focus ~ span::before,
                    .txt_field input:valid ~ span::before{
                        width: 100%;
                    }


                    /* .form-control:focus ~ label{
                        top: -5px;
                        border-color: #3B71CA !important;
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
                      } */

                      .card_login .txt_field img{
                        cursor: pointer;

                      }

                    .card_login .btn_login{
                        /* background: rgba(10, 25, 56, 0.8); */
                        /* background: rgba(26, 55, 112, 0.8); */
                        background: #800000;
                        border: none;
                        outline: none;
                        color: #fff;
                        padding: 8px;
                        transition-duration: 0.4s;
                        border-radius: 4px;
                    }
                     
                    .btn_login:hover {
                        background-color:#831b1b; /* Green */
                        color: white;
                    }
                    .card_login a{
                        color: rgb(100, 100, 100);
                    }
                    .card_login a:hover{
                        color: rgb(48, 48, 48);
                    }


                    .errorlist{
                        margin: 0;
                        padding: 0;
                        margin: 15px 10px;
                        list-style: none;
                        color:#dc3545;
                    }

                    /* actiavte request */
                    .modal-e{
                        min-height: 90vh;
                        padding: 0 20px;
                        display: flex;
                        align-items: flex-start;
                    }
                    .modal-e .modal_email{
                        width: 100%;
                        max-width: 560px;
                        margin: 0px auto;
                        margin-top: 50px;
                        min-height: 450px;
            
                        border: 1px solid #999;
                        border-radius: 8px;
                        padding: 20px;
                        display: grid;
                        align-items: center;
                        justify-items: center;
                        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                    }
                    .modal-e .modal_email .img{
                        height: 130px;
                        width: 130px;
            
                        background: url('/Media/homepage_img/218835.png');
                        background-size: cover;
                        background-position: center;
                    }
                    .modal-e .modal_email .activation_message{
                        text-align: center;
                        width: 100%;
                        max-width: 470px;
                    }
                    .modal-e .modal_email .activation_message a{
                        /* text-decoration: none; */
                        font-size: 18px;
                        font-weight: 500;
                    }
                    .modal-e .modal_email .activation_message span{
                        font-size: 18px;
                        font-weight: 500;
                    }
                    .email_btns{
                        border-top: 1px solid #999;
                        padding-top: 20px;
                    }