{% extends 'registrarportal/admission/base1.html' %}
{% block content %}
{% include 'registrarportal/messages/messages.html' %}


<div class="container-fluid" style="background: #fff;">

    <div class="container py-5">
        {% for batch in batches %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="page" value="{{page_obj.number}}">
                <button type="submit" name="batchId" value="{{batch.id}}" class="btn btn-primary"> Accept All </button>
            </form>
        <center> <h4> Batch #{{batch.id}} </h4> </center>&nbsp;
        
            {% for applicant in batch.applicants %}
                <p> Name: {{applicant.first_name}} {{applicant.middle_name}} {{applicant.last_name}} - {{applicant.sex}} </p>
                <p> Date of Birth: {{applicant.date_of_birth|date:"l, j M o"}} </p>
                <p> Birthplace: {{applicant.birthplace}} </p>
                <p> Nationality: {{applicant.nationality}} </p>
                <p> First strand: {{applicant.first_chosen_strand__strand_name}} </p>
                <p> Second strand: {{applicant.second_chosen_strand__strand_name}} </p>
                <p> Type of Applicant: {{applicant.get_type_display}} </p>

                {% if applicant.type == '1' %}
                    {% for img in applicant.phborn|slice:"1" %}
                        <h6> Good Moral: <img src="{{ img.good_moral.url }}" alt=""> </h6>
                        <h6> Report Card: <img src="{{ img.report_card.url }}" alt=""> </h6>
                        <h6> PSA: <img src="{{ img.psa.url }}" alt=""> </h6>
                    {% endfor %}
                {% elif applicant.type == '2' %}
                    {% for img in applicant.foreign|slice:"1" %}
                        <h6> Good Moral: <img src="{{ img.good_moral.url }}" alt=""> </h6>
                        <h6> Report Card: <img src="{{ img.report_card.url }}" alt=""> </h6>
                        <h6> PSA: <img src="{{ img.psa.url }}" alt=""> </h6>
                        <h6> Alien Certificate of Registration: <img src="{{ img.alien_certificate_of_registration.url }}" alt=""> </h6>
                        <h6> Study Permit: <img src="{{ img.study_permit.url }}" alt=""> </h6>
                        <h6> F137: <img src="{{ img.f137.url }}" alt=""> </h6>
                    {% endfor %}
                {% else %}
                    {% for img in applicant.dualcitizen|slice:"1" %}
                        <h6> Good Moral: <img src="{{ img.good_moral.url }}" alt=""> </h6>
                        <h6> Report Card: <img src="{{ img.report_card.url }}" alt=""> </h6>
                        <h6> PSA: <img src="{{ img.psa.url }}" alt=""> </h6>
                        <h6> Certificate of Dual Citizenship: <img src="{{ img.dual_citizenship.url }}" alt=""> </h6>
                        <h6> Philippine Passport: <img src="{{ img.philippine_passport.url }}" alt=""> </h6>
                        <h6> F137: <img src="{{ img.f137.url }}" alt=""> </h6>
                    {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="page" value="{{page_obj.number}}">
                    <button type="submit" name="decPk" value="{{applicant.id}}"> Decline </button>
                </form>
                <hr>
            {% empty %}
                <h6> No applicant... </h6>
            {% endfor %}

        {% empty %}
            <h6> Empty batch... </h6>
        {% endfor %}
    </div>

</div>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary btn-sm"> Prev </a>
        {% endif %}

        {% block pagination %}
            {% for page_number in page_obj.paginator.get_elided_page_range %}
                {% if page_number == page_obj.paginator.ELLIPSIS %}
                    {{page_number}}
                {% else %}
                    <a href="?page={{page_number}}" class="btn btn-secondary btn-sm"> {{page_number}} </a>
                {% endif %}
            {% endfor %}
        {% endblock %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary btn-sm"> Next </a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
    </span>
</div>


<style>
    .box{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
</style>

{% endblock content %}