{% extends 'studentportal/base1.html' %}
{% block content %}
{% load i18n %}

<h4> Elementary School Details </h4>

<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form }}
        {% endfor %}
    {% else %}
        {{ wizard.form }}
    {% endif %}
    </table>

    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Prev" %}</button>
    <button name="wizard_goto_step" type="submit"> Next </button>

</form>

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

{% endblock content %}