{% extends 'adminportal/courses_base.html' %}
{% block content %}
{% load std_portal %}

<!-- Message from messages framework / views.py -->
{% if messages %}
<div class="container col-md-3">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="container col-md-6">
    <a href="{% url 'adminportal:add_track' %}" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Add Track </a>
    {% for track in courses %}
        <div class="p-3 mb-2 bg-light text-dark">
            <br>
            <a href="{% url 'adminportal:edit_track' track_id=track.id %}" class="btn btn-primary"> Edit </a>
            <a href="{% url 'adminportal:delete_track' pk=track.id %}" class="btn btn-danger"> Delete </a>
            
            <h3> {{track.track_name}} </h3>
            <p> {{track.definition}} </p>
            
            <a href="{% url 'adminportal:add_strand' track_id=track.id %}" class="btn btn-primary"><i class="bi bi-person-plus"></i> Add Strand </a>
            
            <br><br>
            {% for strand in track.strands %}
                <h6> {{strand.strand_name}} </h6>
                <p> {{strand.definition}} </p>
                <a href="{% url 'adminportal:edit_strand' strand_id=strand.id %}" class="btn btn-primary"> Edit </a>
                <a href="#" class="btn btn-danger"> Delete </a>
                <hr>
            {% empty %}
            <p> {{track.track_name}} has no strand. </p>
            
            {% endfor %}
        </div>
    {% empty %}
        <p> No courses found. <a href="{% url 'adminportal:add_track' %}" class="btn btn-primary"> Create Now </a> </p>
    {% endfor %}
</div>

{% endblock content %}