{% extends 'adminportal/courses_base.html' %}
{% block content %}
{% load std_portal %}

<!-- Message from messages framework / views.py -->
{% if messages %}
<div class="container col-md-3">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% for track in courses %}

    <hr><br>
    <h3> {{track.track_name}} </h3>
    <p> {{track.definition}} </p>

    {% for strand in track.strands %}
        <h6> {{strand.strand_name}} </h6>
        <p> {{strand.definition}} </p>
        <hr>
    {% empty %}
    <p> {{track.track_name}} has no strand. <a href="#" class="btn btn-primary"> Create Strand </a> </p>
    
    {% endfor %}

{% empty %}
    <p> No courses found. <a href="{% url 'adminportal:add_track' %}" class="btn btn-primary"> Create Now </a> </p>
{% endfor %}


{% endblock content %}