{% extends 'adminportal/courses_base.html' %}
{% block content %}
{% load std_portal %}

<form id="del_form" method="post">
    {% csrf_token %}
    <!-- List of errors from forms.py -->
    {{ form.non_field_errors }}

    <div class="container col-md-6">
        <div class="form-outline mb-4">
            <h4> Do you want to delete {{obj.track_name}} ?</h4>
        </div>
        <input type="submit" value="Delete" class="btn btn-danger btn-block mb-4">
    </div>
</form>

<a href="{% url 'adminportal:view_courses' %}" class="btn btn-primary"> Back </a>

<script>
    $('#del_form').one('submit', function() {
        $(this).find('input[type="submit"]').attr('disabled','disabled');
    }); 
</script>

{% endblock content %}