{% extends 'studentportal/base1.html' %}
{% block content %}
{% load std_portal %}

<!-- Message from messages framework / views.py -->
{% if messages %}
<div class="container col-md-3">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form id="" method="post">
    {% csrf_token %}
    <!-- List of errors from forms.py -->
    {{ form.non_field_errors }}

    <div class="container col-md-3">
        <h4> Create Account </h4>
        <div class="form-outline mb-4">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}" class="form-label"> Email: </label>
            {{ form.email|addclass:"form-control"}} <!-- Input Field -->
            <div id="emailHelp" class="form-text"> Enter your email </div>
        </div>

        <div class="form-outline mb-4">
            {{ form.display_name.errors }}
            <label for="{{ form.display_name.id_for_label }}" class="form-label"> Username: </label>
            {{ form.display_name|addclass:"form-control"}} <!-- Input Field -->
        </div>

        <div class="form-outline mb-4">
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}" class="form-label"> Password: </label>
            {{ form.password|addclass:"form-control" }} <!-- Input Field -->
        </div>

        <div class="form-outline mb-4">
            {{ form.confirmpassword.errors }}
            <label for="{{ form.confirmpassword.id_for_label }}" class="form-label"> Confirm Password: </label>
            {{ form.confirmpassword|addclass:"form-control" }} <!-- Input Field -->
        </div>

        <input type="submit" value="Create" class="btn btn-primary btn-block mb-4">
    </div>

</form>

{% endblock content %}