{% extends 'studentportal/base1.html' %}
{% block content %}

<!-- Message from messages framework / views.py -->
{% if messages %}
 
<div class="modal fade show" id="messageModal" tabindex="-1" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="messages">
                {% for message in messages %}

                <div id="successmessage" {% if message.tags %} class="{{ message.tags }} d-flex justify-content-between align-items-center"{% endif %}>   
                    <h5 class="m-0">{{message}}</h5> 
                    <i class="fa fa-check text-success" aria-hidden="true" style="font-size: 25px;"></i>
                
                </div>
                
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script>
    var myModal = new bootstrap.Modal(document.getElementById("messageModal"));
    myModal.show(); 

  </script>
{% endif %}


<div class="landing">
    <div class="landing_o">
        <div class="newfangled_title">
            <div class="logo">logo</div>
            <h3 class="landing_title d-flex flex-column text-center mt-3">
                Newfangled 
                <span>Senior High School</span>
            </h3>
        </div>

    </div>

</div>
<!-- School image -->

<!-- <div class="about container-fluid">
    <div class="container py-5 text-center">
        <h3 class="mb-4">New Fangled Senior High School
            Allowing you to experience a top-notch secondary school in a university environment.
        </h3>
        <p>Access the University’s knowledge resources and state-of-the-art laboratories and facilities.</p>
        <p>Be mentored by topnotch professors and industry experts who will prepare you for the rigors and discipline of university life.</p>
        <p>Be part of exciting research projects that will challenge you to create solutions to real-life problems.</p>
    </div>
</div> -->
<!-- #041d4b; -->
<div class="container-fluid" style="background: #fff;">
    <div class="tracks_strand_date container pt-5 text-center">
        <h3>  School year {% firstof sy %} <!-- Display school year --></h3>

        {% if enroll_now == "postpone" %}
        <p> Enrollment and Admission are currently postponed. </p>

    {% elif enroll_now == "enroll" %}
        <p> Enrollment and Admission will end on {{end_date_enrollment.end_date|date:"l, M d, o"}}. </p>
        <a href="{% url 'studentportal:admission_application' %}" class="btn btn-primary btn-sm"> Apply Now </a> <!-- Button to apply for admission and enrollment -->

    {% elif enroll_now == "start_soon" %}
        <p> Enrollment and Admission will start on {{start_date_enrollment.start_date|date:"l, M d, o"}}. </p>

    {% endif %}
    </div>

    <div class="track_and_strand_wrapper container py-5">
        <div class="row grid">
                {% for course in courses %}
                <div class="track_strand mb-3 " style="background: #fff;">
                <h3 class=""> {{course.track_name}} </h3>
                <div class="strand_box p-3 border-top border-primary">
                    <h5> Strands: </h5>
                    {% for strand in course.strands %}
                    <div class="strand">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p> {{strand.strand_name}} </p>

                    </div>
                    {% empty %}
                        <p> ---------------------- </p>
                    {% endfor %}
                    </div>

                </div>
                {% endfor %}
    

        </div>
        
    </div>
</div>
<br>

<!-- School Announcements : FEATURES TO ADD SOON -->
<!-- School Events : FEATURES TO ADD SOON -->

<!-- List of courses offered -->
<!-- <div class="container col-md-3">
    {% for course in courses %}
        <p> {{course.track_name}} </p>
        <h5> Strands: </h5>
        {% for strand in course.strands %}
            <p> {{strand.strand_name}} </p>
        {% empty %}
            <p> ---------------------- </p>
        {% endfor %}
        <br>
    {% endfor %}
</div> -->

<!-- List of Teachers : FEATURE TO ADD SOON -->

<!-- School location in google map and school contact details -->
<section class="p-5" style="background: #eef0f1;">
    <div class="container">
        <div class="row g-4 ">
            <div class="col-md box border-top border-2 border-primary py-4 me-3 bg-white">
                <h2 class="text-center mb-4"> Contact Details </h2>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold"> Address: </span> Macam St. Taal Bocaue Bulacan
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold"> Contact: </span> {{contacts.cellphone_number}}
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold"> Email: </span>  {{emails.email}}
                    </li>
                </ul>
            </div>

            <div class="col-md box p-0 border-top border-2 border-primary">
                <div id='map' style='width: 600px; height: 450px;'></div>
            </div>
        </div>
    </div>
</section>
<style>
    .box{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
</style>
<script type="text/javascript">
    // map
    mapboxgl.accessToken = 'pk.eyJ1IjoiYnVoYXlwYWFrbzIwMjIiLCJhIjoiY2wwNTdkM3VvMXY4djNicGswdG44NTU2aiJ9.o86cyM3P2LrsZ9GZZf444Q';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [120.92545821448982,14.810937916453184],
        zoom: 15
    });
</script>

{% endblock content %}
