{% extends 'studentportal/base1.html' %}
{% block content %}
{% include 'studentportal/messages/messages.html' %}


<div class="landing">
    <div class="landing_o">
        <div class="newfangled_title">
            <div class="logo">logo</div>
            <h3 class="landing_title d-flex flex-column text-center mt-3">
                Newfangled 
                <span>Senior High School</span>
            </h3>
        </div>
    </div>
</div>


<div class="container-fluid" style="background: #fff;">
    <div class="tracks_strand_date container pt-5 text-center">
        <!-- <h3> School Year {% firstof sy %} </h3> -->

        {% if enroll_now == "postpone" %}
            <p> Enrollment and Admission are currently postponed. </p>

        {% elif enroll_now == "enroll" %}
            <p> Enrollment and Admission will end on {{end_date_enrollment.end_date|date:"l, M d, o"}}. </p>
            <a href="{% url 'studentportal:admission_application' %}" class="btn btn-primary btn-sm"> {% firstof sy %} Apply Now </a> <!-- Button to apply for admission and enrollment -->

        {% elif enroll_now == "start_soon" %}
            <p> Enrollment and Admission will start on {{start_date_enrollment.start_date|date:"l, M d, o"}}. </p>

        {% endif %}
    </div>

    <!-- Offered Courses -->
    <div class="track_and_strand_wrapper container py-5">
        <center> <h4> Offered Courses </h4> </center>&nbsp;
        <div class="row grid">
            {% for course in courses %}
                <div class="track_strand mb-3 " style="background: #fff;">
                    <h3 class=""> {{course.track_name}} </h3>
                    <div class="strand_box p-3 border-top border-primary">
                        <h5> Strands: </h5>
                        {% for strand in course.strands %}
                            <div class="strand">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                    <p> {{strand.strand_name}} </p>
                            </div>
                        {% empty %}
                            <p> ---------------------- </p>
                        {% endfor %}
                    </div>
                </div>
            {% empty %}
                <div class="track_strand mb-3 " style="background: #fff;">
                    <h3 class=""> {{title}} have no courses offered yet. </h3>
                </div>
            {% endfor %}
        </div>
    </div>


    <!-- Honored Students -->
    {% if honoredStudents %}
        <div class="track_and_strand_wrapper container py-5">
            <center> <h4> Honored Students </h4> 
                <p class="lead fw-normal"> Batch {{batchNumber}} </p>
            </center>&nbsp;
            <div class="row grid">
                {% for student in honoredStudents %}
                    <div class="track_strand mb-3 " style="background: #fff;">
                        <img src="{{student.graduatePic.url}}" class="nav-link avatar" alt="" id="" height="200">
                        <h5> {{student.name}} </h5>
                        <p> {{student.course}} - {{student.honorType}} </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    <!-- Events -->
    {% if events %}
        <div class="track_and_strand_wrapper container py-5">
            <center> <h4> Events </h4> 
            </center>&nbsp;
            <div class="row grid">
                {% for key, value in events.items %}
                    <div class="track_strand mb-3 " style="background: #fff;">
                        <h3 class=""> {{key}} </h3>
                        <div class="strand_box p-3 border-top border-primary">
                            {% for event in value %}
                                <div class="strand">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                        <p> {{event.name|truncatewords:10}} </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    <!-- Frequently Asked Questions (FAQs) -->
    {% if hasFAQs %}
        <section id="questions" class="p-5">
            <div class="container">
                <h2 class="text-center mb-4"> Frequently Asked Questions </h2>
                <div class="accordion accordion-flush" id="questions">

                    {% for questionAndAnswer in hasFAQs %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                            data-bs-target="#question{{forloop.counter}}">
                            {{questionAndAnswer.Question}}
                            </button>
                        </h2>
                        <div id="question{{forloop.counter}}" class="accordion-collapse collapse" data-bs-parent="#questions">
                            <div class="accordion-body p-4">
                            {{questionAndAnswer.Answer}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    {% endif %}

</div>


<br>


<!-- School location in google map and school contact details -->
<section class="p-5" style="background: #eef0f1;">
    <div class="container">
        <div class="row g-4 ">
            <div class="col-md box border-top border-2 border-primary py-4 me-3 bg-white">
                <h2 class="text-center mb-4"> Contact Us </h2>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold"> Address: </span> Macam St. Taal Bocaue Bulacan
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold"> Contact: </span> {{contacts.cellphone_number}}
                    </li>

                    <li class="list-group-item">
                        <span class="fw-bold"> Email: </span>  {{emails.email}}
                    </li>
                </ul>
            </div>

            <div class="col-md box p-0 border-top border-2 border-primary">
                <div id='map' style='width: 600px; height: 450px;'></div>
            </div>
        </div>
    </div>
</section>


<style>
    .box{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
</style>


<script type="text/javascript">
    // map
    mapboxgl.accessToken = 'pk.eyJ1IjoiYnVoYXlwYWFrbzIwMjIiLCJhIjoiY2wwNTdkM3VvMXY4djNicGswdG44NTU2aiJ9.o86cyM3P2LrsZ9GZZf444Q';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [120.92545821448982,14.810937916453184],
        zoom: 15
    });
</script>

{% endblock content %}