{% extends 'adminportal/AdmissionAndEnrollment/base1.html' %}
{% block content %}
{% load std_portal %}

<!-- Message from messages framework / views.py -->
{% if messages %}
<div class="container col-md-3">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form id="extend_date" method="post">
    {% csrf_token %}
    <!-- List of errors from forms.py -->
    {{ form.non_field_errors }}

    <div class="container col-md-3">
        <h4> Extend the Admission and Enrollment Setup Form for S.Y. {{setup_details.ea_setup_sy__sy}} </h4>

        <div class="form-outline mb-4">
            {{ form.end_date.errors }} <!-- Field errors -->
            <label for="{{ form.end_date.id_for_label }}" class="form-label"> End Date: </label>
            {{ form.end_date|addclass:"form-control"}} <!-- Input Field -->
        </div>

        <input type="submit" value="Update" class="btn btn-primary btn-block mb-4">
    </div>

</form>
<a href="{% url 'adminportal:admission_and_enrollment' %}" class="btn btn-primary" > Back </a>

<script>
    $('#extend_date').one('submit', function() {
        $(this).find('input[type="submit"]').attr('disabled','disabled');
    }); 
</script>


{% endblock content %}