{% extends 'adminportal/AdmissionAndEnrollment/base1.html' %}
{% block content %}
{% load std_portal %}

<!-- Message from messages framework / views.py -->
{% if messages %}
<div class="container col-md-3">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="container col-md-6">
    {% if no_record or new_enrollment %}
        <p> Open enrollment and admission for this school year? Click <a href="{% url 'adminportal:admission_enrollment_setup' %}" class="btn btn-primary"> Open </a> </p>
    {% endif %}
</div>

{% if sy %}
    <div class="container col-md-6">

        <!-- if school year is less than 209 days and setup form will start soon -->
        {% if start_soon %}
            <p> Enrollment and Admission will start on {{start_date}} until {{end_date}}. </p>
            <p> To update the Enrollment and Admission dates. Click <a href="{% url 'adminportal:setup_details_update' uid=uid %}" class="btn btn-primary">Update</a> </p>
        {% endif %}

        {% if is_empty_count %}
            <p> No students have been enrolled and admitted for S.Y. {{sy}} yet. </p>
        {% endif %}

        {% if count_sy_details.admitted_students %}
            <p> {{count_sy_details.admitted_students}} student(s) are already admitted for School Year: {{sy}} <a href="{% url 'adminportal:admitted_students' %}" class="btn btn-primary"> View </a> </p>
        {% endif %}

        {% if count_sy_details.pending_admission %}
            <p> {{count_sy_details.pending_admission}} request for admission are still pending for School Year: {{sy}} <a href="{% url 'adminportal:admission' %}" class="btn btn-primary"> Review </a> </p>
        {% endif %}

        {% if stop_from_accepting %}
            <p> You postpone the Enrollment and Admission. To revert, click the Extend button below. </p>
        {% endif %}

        {% if is_extend %}
            <p> Enrollment and Admission for S.Y. {{sy}} will end in {{end_dt}}. To extend, click <a href="{% url 'adminportal:extend_enrollment' uid=uid %}" class="btn btn-primary"> Extend </a> </p>
        {% endif %}

        {% if stop_accepting %}
            <p> Do you want to postpone the Enrollment and Admission for S.Y. {{sy}}? Click <a href="{% url 'adminportal:postpone_enrollment' uid=uid %}" class="btn btn-primary">Postpone</a> </p>
        {% endif %}

        {% if extend_notif %}
            <p> {{extend_notif}} To extend, click <a href="{% url 'adminportal:extend_enrollment' uid=uid %}" class="btn btn-primary"> Extend </a> </p>
        {% endif %}

    </div>
{% endif %}

{% endblock content %}