{% extends 'studentportal/base1.html' %} {% block content %} {% load std_portal
%} {% include 'usersPortal/messages/messages.html' %}

<div class="main">
  <div class="submain">
    <form id="postForm" method="post">
      {% csrf_token %}
      <!-- List of errors from forms.py -->
      {{ form.non_field_errors }}

      <div class="card_login">
        <h4>Create Account</h4>
        <div class="form-outline">
          <div class="txt_field">
            {{ form.email|addclass:"email form-control shadow-none"}}
            <!-- Input Field -->
            <span class="line"></span>
            <label for="{{ form.email.id_for_label }}" class="em form-label">
              Email:
            </label>
          </div>
          {{ form.email.errors }}
          <!-- Field errors -->
          <div id="emailHelp" class="form-text">Enter your email</div>
        </div>

        <div class="form-outline">
          <div class="txt_field">
            {{ form.display_name.errors }}
            <!-- Field errors -->
            {{ form.display_name|addclass:"form-control shadow-none"}}
            <!-- Input Field -->
            <span></span>
            <label
              for="{{ form.display_name.id_for_label }}"
              class="form-label"
            >
              Username:
            </label>
          </div>
        </div>

        <div class="form-outline">
          <div class="txt_field">
            {{ form.password.errors }}
            <!-- Field errors -->
            {{ form.password|addclass:"pass form-control shadow-none" }}
            <!-- Input Field -->
            <div class="img d-flex align-items-center">
              <i id="eyeicon" class="fa fa-eye-slash" aria-hidden="true"></i>
            </div>
            <span></span>
            <label for="{{ form.password.id_for_label }}" class="form-label">
              Password:
            </label>
          </div>
        </div>

        <div class="form-outline mb-5">
          <div class="txt_field">
            {{ form.confirmpassword.errors }}
            <!-- Field errors -->
            {{ form.confirmpassword|addclass:"pass2 form-control shadow-none" }}
            <!-- Input Field -->
            <div class="img d-flex align-items-center">
              <i id="eyeicon2" class="fa fa-eye-slash" aria-hidden="true"></i>
            </div>
            <span></span>
            <label
              for="{{ form.confirmpassword.id_for_label }}"
              class="form-label"
            >
              Confirm Password:
            </label>
          </div>
        </div>

        <input type="submit" value="Create" class="btn_login btn-block mb-3" />
        {% if user.is_superuser %}
        <a
          href="{% url 'adminportal:index' %}"
          class="btn_create btn-block mb-3"
        >
          Back
        </a>
        {% endif %}
      </div>
    </form>
  </div>
</div>

{% endblock content %}
