{% extends 'adminportal/Shs_courses/courses_base.html' %}
{% block content %}
{% load std_portal %}

<!-- Message from messages framework / views.py -->
{% if messages %}
 
<div class="modal fade show" id="messageModal" tabindex="-1" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="messages">
                {% for message in messages %}

                <div id="successmessage" {% if message.tags %} class="{{ message.tags }} d-flex justify-content-between align-items-center"{% endif %}>   
                    <h5 class="m-0">{{message}}</h5> 
                    <i class="fa fa-check text-success" aria-hidden="true" style="font-size: 25px;"></i>
                
                </div>
                
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script>
    var myModal = new bootstrap.Modal(document.getElementById("messageModal"));
    myModal.show(); 

  </script>
{% endif %}
<div class="container py-3 d-flex justify-content-end">
    <a href="{% url 'adminportal:view_courses' %}" class="btn btn-primary" > Back </a>
</div>
<form id="AddStrands" class="px-2" method="post">
    {% csrf_token %}
    <!-- List of errors from forms.py -->
    {{ form.non_field_errors }}

    <div class="container col-md-8 mt-4 p-3 bg-light">
        <h4> Add Strand </h4>
        
        <div class="form-outline mb-4">
            {{ form.track.errors }} <!-- Field errors -->
            <label for="{{ form.track.id_for_label }}" class="form-label"> Track: </label>
            {{ form.track|addclass:"form-control"}} <!-- Choice Field -->
        </div>

        <div class="form-outline mb-4">
            {{ form.strand_name.errors }} <!-- Field errors -->
            <label for="{{ form.strand_name.id_for_label }}" class="form-label"> Strand: </label>
            {{ form.strand_name|addclass:"form-control"}} <!-- Input Field -->
        </div>

        <div class="form-outline mb-4">
            {{ form.strand_details.errors }} <!-- Field errors -->
            <label for="{{ form.strand_details.id_for_label }}" class="form-label"> Strand Details: </label>
            {{ form.strand_details|addclass:"form-control"}} <!-- Input Field -->
        </div>

        <input type="submit" value="Add" class="btn btn-primary btn-block mb-4">
        <button type="submit" name="another" class="btn btn-primary btn-block mb-4"> Save and Add another </button>
    </div>

</form>

<script>
    $('#AddStrands').one('submit', function() {
        $(this).find('input[type="submit"]').attr('disabled','disabled');
    }); 
</script>

{% endblock content %}