<div class="container-fluid div p-0">

    <div class="container admission pt-5">
                <h3>Welcome to Newfangled</h3>
                <span></span>
        <div class="application_parent mt-5">
                <a href="{% url 'studentportal:admission_details' %}" class="button"> Admission </a> &nbsp; <!-- Go to the admission application -->
                <a href="{% url 'studentportal:enrollment_details' %}" class="button"> Enrollment </a> &nbsp; <!-- Go to the enrollment application -->
          
        </div>  
    </div>

</div>