{% extends 'adminportal/AdmissionAndEnrollment/base1.html' %}
{% block content %}
{% load std_portal %}
{% include 'adminportal/AdmissionAndEnrollment/admission_HTMLs/adm_menu.html' %}

<!-- Message from messages framework / views.py -->
{% if messages %}
<div class="container col-md-3">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<br>
<div class="container col-md-12">

    <table class="table table-striped table-light table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">S.Y.</th>
                <th scope="col">Email</th>
                <th scope="col">Surname</th>
                <th scope="col">Sex</th>
                <th scope="col">First Strand</th>
                <th scope="col">Second Strand</th>
                <th scope="col">Applied On</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for student in list_of_admitted %}
                <tr>
                    <th scope="row"> {{student.id}} </th>
                    <td> {{student.admission_sy__sy}} </td>
                    <td> {{student.admission_owner__email}} </td>
                    <td> {{student.last_name}} </td>
                    <td> {{student.sex}} </td>
                    <td> {{student.first_chosen_strand__strand_name}} </td>
                    <td> {{student.second_chosen_strand__strand_name}} </td>
                    <td> {{student.date_created}} </td>
                    <td> <a href="{% url 'adminportal:details' pk=student.id %}" class="btn btn-primary btn-sm"> View </a> </td>
                </tr>
            {% empty %}
                <tr>
                    <td> No admitted students... </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
        <a href="{% url 'adminportal:admission_and_enrollment' %}" class="btn btn-primary btn-block mb-4"" > Back </a>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary btn-sm"> Prev </a>
            {% endif %}

            {% block pagination %}
                {% for page_number in page_obj.paginator.get_elided_page_range %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <a href="?page={{page_number}}" class="btn btn-secondary btn-sm"> {{page_number}} </a>
                    {% endif %}
                {% endfor %}
            {% endblock %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary btn-sm"> Next </a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        </span>
    </div>
    
</div>

{% endblock content %}