html{
    font-family: 'Poppins', sans-serif !important;
    }
    
    .navbar {
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
    font-family: 'Poppins', sans-serif !important;
    z-index: 999;
    }
    .navbar .navbar-brand{
    font-weight: bold;
    }

    