
*{
    margin: 0;
    padding: 0;
}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


/* add track */
.strand .edit_btn{
    background: #1f1f27 !important;
}
.add_track{
    background: #25c784;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s ease;
    margin-left: auto;
    border-radius: 5px;
}
.add_track:hover{
    background: #2FB47D;
    color: #fff;
}

.main{
    background: #F0F9FF;
}
.main .track_parent{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}