body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #3fbbc0;
    text-decoration: none;
  }
  
  a:hover {
    color: #65c9cd;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
  }


  

  
.color {
    background-color:  #D7E5D8;
    padding-top: 20px;
    height: 100%;
    min-height: 100vh;
}




.featured-services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    width: 100%;
    margin-top: 10px;
    
  }
  
  .featured-services .icon-box::before {
    content: "";
    position: absolute;
    background: #d9f1f2;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
  }
  
  .featured-services  .icon-box:hover::before {
    background: #b32b48;
    top: 0;
    border-radius: 0px;
  }
  
  .featured-services  .icon {
    margin-bottom: 15px;
  }
  
  .featured-services  .icon i {
    font-size: 48px;
    line-height: 1;    color: #3fbbc0;
    transition: all 0.3s ease-in-out;
  }
  
  .featured-services  .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .featured-services  .title a {
    color: #111;
  }
  
  .featured-services  .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  
  .featured-services  .icon-box:hover .title a,
  .featured-services .icon-box:hover .description {
    color: #fff;
  }
  
  .featured-services  .icon-box:hover .icon i {
    color: #fff;
  }



