{% extends 'studentportal/base1.html' %}
{% block content %}
{% load std_portal %}
{% include 'usersPortal/messages/messages.html' %}

      
<div class="main">
    <div class="submain">
        <form id="postForm" method="post">
            {% csrf_token %}

            <!-- List of errors from forms.py -->
            {{ form.non_field_errors }}
            <span id="eyeicon2" style="display:none;"></span>
            <div class="card_login">
                <h4> Reset your Account </h4>
                    <div class="txt_field">
                        {{ form.email.errors }}
                        {{ form.email|addclass:"email form-control shadow-none"}} <!-- Input Field -->
                        <span class="line" id="eyeicon"></span>
                        <label for="{{ form.email.id_for_label }}" class="em form-label"> Email: </label>
                    </div>
                    <div id="emailHelp" class="form-text my-3"> Enter your email </div>
               

                <input type="submit" value="Submit" class="btn_login btn-block mb-3">

            </div>
        </form>
    </div>
</div>


{% endblock content %}