{% extends 'studentportal/base1.html' %}
{% block content %}
{% load std_portal %}
{% include 'usersPortal/messages/messages.html' %}

      
<div class="main">
    <div class="submain">
        <form id="reset_form" method="post">
            {% csrf_token %}

            <!-- List of errors from forms.py -->
            {{ form.non_field_errors }}

            <div class="cards_reset">
                <div class="form-outline mb-4">
                    <p> Send reset link to {{user.email}} </p>
                </div>

                <input type="submit" value="Confirm" class="btnreset btn-block mb-3">
                {% if user.is_student %} <a href="{% url 'usersPortal:account_profile' %}" class="btn btn-primary"> Back </a> {% endif %}
                {% if user.is_superuser %} <a href="{% url 'adminportal:index' %}" class="btn btn-primary"> Back </a> {% endif %}
                {% if user.is_registrar %} <a href="{% url 'registrarportal:dashboard' %}" class="btn btn-primary"> Back </a> {% endif %}
            </div>
        </form>
    </div>
</div>

<script>
    $('#reset_form').one('submit', function() {
        $(this).find('input[type="submit"]').attr('disabled','disabled');
    }); 
</script>

{% endblock content %}